
canvas {
            background-color: #222;
            display: block;
            margin: 20px auto;
            border: 2px solid #4CAF50;
            
        }
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #333;
            color: rgb(56, 171, 56);
            background-image: url(snakkkk.avif);
             /* background-repeat: no-repeat; */
             background-size:100vw;
          
            
        }
        button {
            padding: 10px 20px;
            margin-top: 10px;
            background-color: #4CAF50;
            color:#ffffff;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
            transition: all 0.2s;
        }
        button:hover {
            background-color: #45a049;
            border-radius: 20px;
        }